html{
  background-color: #cbcbcb;
  font-family: 'Roboto', Arial, sans-serif;
}
h1{
  display: block;
  text-align: center;
  font-size: 200%;
  margin-top: 10%;
}
p
{
  display: block;
  text-align: center;
  font-size: 100%;
  margin: 5%;
  background-color: #f0f0f0;
  padding: 5%;
  border-top-left-radius: 10%;
}
#input-email{
  display: block;
  text-align: left;
  font-size: 90%;
  margin: 5%;
  background-color: #f0f0f0;
  padding: 7%;
  border-radius: 3px;
}
#email{
  width: 100%;
}
#input-age-verification{
  display: block;
  text-align: left;
  font-size: 100%;
  margin: 5%;
  background-color:  #f0f0f0;
  padding: 7%;
  border-radius: 3px;
}
#input-submit{
  display: block;
  text-align: center;
}
#submit{
  background-color: #666;
  color: #fff;
  margin: 10%;
  padding: 3%;
}
#submit:hover{
  color:#999595;
}
@media (min-width: 768px) {
    h1{
      margin-top: 1%;
      font-size: 400%
    }
    p{
      font-size: 200%;
    }
    #input-age-verification{
      display: inline-block;
      width: 25%;
      margin: 10px 30px 0px 100px;
      padding: 118px 100px;
      border-radius: 15px;
      font-size: 150%;
    }
    #input-email{
      display: block;
      width: 25%;
      float: right;
      font-size: 100%;
      margin: 10px 100px 0px 30px;
      padding: 100px;
      border-radius: 15px;
      font-size: 150%;
    }
    #submit{
      font-size:300%;
      width: 75%;
      margin: 3% 10%;
      padding: 3%;
    }
}